@model SurveyApp.DataTransferObjects.Incoming.CreateNewQuestionRequest

@{
    ViewData["Title"] = "AddQuestion";
    var surveyId = ViewBag.SurveyId;
}

<h3> Soru Ekle</h3>


<div class="row md-4">
    
</div>