@using Microsoft.IdentityModel.Tokens
@model IEnumerable<SurveyApp.DataTransferObjects.Outgoing.SurveyDisplayResponse>

<h1>Anketlerim</h1>

@if (Model.IsNullOrEmpty())
{
    <div class="alert alert-info">
        <p>Anketiniz bulunmamaktadır.</p>
    </div>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>
                Anket Id
            </th>
            <th>
                Anket Adı
            </th>
            <th>
                İşlemler
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="SurveyResults" asp-route-id="@item.Id">Sonuçları Gör</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                </td>
            </tr>
        }
    </table>
}
