@model ShowSurveyModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var questionNumber = 1;
}

<h2>Anket adı: @Model.Survey.Name</h2>

<div class="row">
    @foreach (var question in Model.Questions)
    {
        <p>@questionNumber) @question.Title</p> questionNumber++;
        <br/>
        @foreach(var option in question.Options)
        {
            <p>Option type: @option.OptionType</p>
        }
    }
</div>

