@using SurveyApp.Entities
@model SurveyResultModel
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
    var questionNumber = 1;
    var singleChoiceResultNumber = 1;
    var ratingResultNumber = 1;
    var textResultNumber = 1;
    var multipleChoiceResultNumber = 1;
    var viewComponentName = "";
}

<h4>@Model.surveyTitle anketinin sonuçları..</h4>

<div class="row justify-content-center">
    @foreach (var modelQuestion in Model.questionAnswers)
    {
        <p>@questionNumber) @modelQuestion.question.Title</p> questionNumber++;
        <br/>
        <div class="row" style="margin-left: 30px;">
         
            @if (modelQuestion.question.OptionType == OptionType.MultipleChoice)
            {
                <p>Multiple Choice Result: @modelQuestion.answerCount</p> <br/>
           
                @foreach(var answer in modelQuestion.Answers)
                {
                    <p>@multipleChoiceResultNumber)  @answer.Text </p>
                    multipleChoiceResultNumber++;
                }
            }
            else if (modelQuestion.question.OptionType == OptionType.SingleChoice)
            {
               
                <p>@singleChoiceResultNumber) </p>
                singleChoiceResultNumber++;
                <br/>
                
              
            }
            else if (modelQuestion.question.OptionType == OptionType.Rating)
            {
                <p>Rating results</p>
                <p>@ratingResultNumber) </p> ratingResultNumber++;
                <br/>
            }
            else if (modelQuestion.question.OptionType == OptionType.Text)
            {
                <p>Text results</p>
                <p>@textResultNumber) </p> textResultNumber++;
                <br/>
            }
        </div>
    }
</div>