@model AnswerModel

@foreach (var option in Model.Options)
{
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="@option.Text" id="@option.Id">
        <label class="form-check-label" for="@option.Id">
            @option.Text
        </label>
    </div>
}
