
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Secured PAGE</h2>
<h2>Welcome @User.Identity.Name</h2>
<ul>
    @foreach(var claim in User.Claims)
    {
        <li>@claim.Type : @claim.Value</li>
    }
</ul>